<!DOCTYPE html>
<html th:replace="~{layout/template :: layout(~{::title},~{::body})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- ページタイトルを記入 -->
    <title>アカウント一覧</title>
</head>
<body>
<div th:replace="~{fragments/include-datatables :: include-datatables}"></div>

<section class="content-header">
    <div class="container-fluid">
        <div class="row px-5">
            <div class="col-18 mb-3">
                <!-- ページタイトルを記入 -->
                <h4>アカウント一覧</h4>
            </div>
            <div class="col-18 text-right nav-tabs-wrapper">
                <!-- ページタイトル右の余白 -->
                <ul class="nav nav-tabs justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">アカウント</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/account/active-list}">ログイン中</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/role/list}">ロール</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/permission/list}">パーミッション</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid"><!-- -fluidを外すと横幅が狭くなる-->
        <div th:replace="~{fragments/message-panel :: message-panel}"></div>
        <!-- ここより下にメインコンテンツを記入 -->

        <table class="table-sm table-striped" id="acountlist">
            <thead>
            <tr class="filter">
                <th class="text-center px-1">
<!--                    <button class="btn" onclick="checkAll();">-->
<!--                        <i class="fas fa-check"></i>-->
<!--                    </button>-->
                </th>
                <th data-filter="disable"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
<!--                <th></th>-->
                <th data-filter="disable">
                    <select class="dataTables_column_filter form-control" data-column="7" id="col_filter_7">
                        <option value=""></option>
                        <th:block th:each="obj : ${@CL_STATUS.asMap()}">
                            <option th:value="${obj.key}">[[${obj.value}]]</option>
                        </th:block>
                    </select>
                </th>
                <th></th>
                <th data-filter="disable"></th>
            </tr>
            <tr class="title">
                <th class="text-center px-0"></th>
                <th class="text-center">操作</th>
                <th class="text-center">ユーザ名</th>
                <th class="text-center">名</th>
                <th class="text-center">姓</th>
                <th class="text-center">所属</th>
                <th class="text-center">e-mail</th>
<!--                <th class="text-center">URL</th>-->
                <th>ステータス</th>
                <th class="text-center">最終更新日時</th>
                <th class="text-center">案内メール送信日</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>

        <form id="bulk-operation-form" method="post" th:action></form>
        <!-- ここより上にメインコンテンツを記入 -->
    </div>
</section>

<!-- Page script -->
<script>
  $(document)
    .ready(
      function () {

        // 項目単位フィルタ用のInputフィールドを追加する。
        // TODO 開始列番号を指定
        var startcolnum = 1;
        $('tr.filter th').each(function () {
          var idx = $(this).index();
          if (startcolnum <= idx　&& $(this).data("filter") != 'disable') {
            $(this).html('<input type="text" id="col_filter_' + idx + '" data-column="' + idx +
              '" class="dataTables_column_filter form-control" />');
          }
        });

        var table = $('#acountlist').DataTable({

          'ajax': {
              'url': 'list/json',
              'data': flatten
          },

          // 一覧に表示する項目とJSONの項目にマッピング
          'columns': [{
              data: 'username',
              className: 'text-center',
              orderable: false,
              searchable: false,
              checkboxes: {
                selectRow: true
              },
            },
            {
              data: 'operations',
              orderable: false,
              searchable: false,
            },
            {
              data: 'username',
            },
            {
              data: 'firstName',
            },
            {
              data: 'lastName',
            },
            {
              data: 'department',
            },
            {
              data: 'email',
            },
<!--            {-->
<!--              data: 'url',-->
<!--            },-->
            {
              data: 'statusLabel',
              className: 'text-center',
              // orderable: false,
              // searchable: false,
            },
            {
              data: 'lastModifiedDate',
            },
            {
              data: 'welcomeMailSendDate',
              orderable: false,
              searchable: false,
            },
          ],

          // 初期ソート
          'order': [
            [2, 'asc']
          ],

          // ボタンの表示
          'buttons': ['colvis', 'stateClear', 'csvdownload', 'tsvdownload', 'upload', 'createnew'],

          // データロード後処理
          'initComplete': function (settings, json) {
            // グローバルフィルターのEnterキーでサーバに送信
            fnGlobalFilterOnReturn(table);
          },
        });

        // ページネーション後に画面トップに戻る
        table.on('page.dt', function () {
          $('html, body').animate({
            scrollTop: 0
          }, 300);
        });

        // 項目単位フィルタの追加
        // addFieldFilter(table)

        // 項目単位フィルタを追加(列の並び順対応版)
        addFieldFilter2(table)

      });

  // 一括チェック処理(Server-side用、要StateSave)
  function checkAll() {
    var storageKey = "DataTables_acountlist_/admin/account/list";
    var url = '/admin/account/list/allkeyjson';
    var stateSaveData = JSON.parse(localStorage.getItem(storageKey));
    $.getJSON(url, function (data) {
      data.forEach(function (value) {
        stateSaveData.checkboxes[0][value] = 1;
      });
      localStorage.setItem(storageKey, JSON.stringify(stateSaveData));
      location.reload()
    });
  }


</script>


</body>
</html>
