<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div th:fragment="common" th:remove="tag">
    <div th:replace="~{fragments/include-common :: include-common}"></div>
</div>

<div th:fragment="datatables" th:remove="tag">
    <div th:replace="~{fragments/include-datatables :: include-datatables}"></div>
</div>

<div th:fragment="debug" th:remove="tag">
    <div th:replace="~{fragments/include-debug :: include-debug}"></div>
</div>

<div th:fragment="multiple-select" th:remove="tag">
    <div th:replace="~{fragments/include-multipleselect :: include-multipleselect}"></div>
</div>

<div th:fragment="upload" th:remove="tag">
    <div th:replace="~{fragments/include-upload :: include-upload}"></div>
</div>

</body>
</html>
