<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" th:fragment="layout (title,body)">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <div id="libraries" th:replace="~{layout/libraries :: common}"></div>

    <title th:replace="${title}"></title>

</head>
<!--<body class="hold-transition sidebar-collapse layout-top-nav layout-navbar-fixed layout-footer-fixed">-->
<body class="hold-transition sidebar-collapse layout-top-nav">
<div class="wrapper">

        <div id="header" th:replace="~{layout/header :: header}"></div>

        <div class="content-wrapper">
            <div id="body" th:replace="${body}"></div>
        </div>

</div>

</body>
</html>
