<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

    <!-- https://tomokazu-kozuma.com/setting-loggers-using-logback-spring-xml-in-spring-boot/ -->

    <!-- デフォルト設定読み込み -->
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <!-- Application.propertiesから設定読み込み -->
    <springProperty scope="context" name="jobLogDir" source="job.log.dir"
                    defaultValue="/log/job"/>

    <appender name="Job" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>jobName_jobExecutionId</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${jobName_jobExecutionId}" class="ch.qos.logback.core.FileAppender">
                <encoding>UTF-8</encoding>
                <file>${jobLogDir}/Job_${jobName_jobExecutionId}.log</file>
                <append>false</append>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <encoder>
                        <charset>UTF-8</charset>
                        <pattern>%date %level %logger{10} [%X{jobName_jobExecutionId}] %msg %n</pattern>
                    </encoder>
                </layout>
            </appender>
        </sift>
    </appender>

    <logger name="JobLogger" level="info" additivity="false">
        <appender-ref ref="Job" />
    </logger>

</configuration>
