<!DOCTYPE html>
<html th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>パスワード再発行</title>
</head>
<body>

<section class="content-header">
    <div class="container">
        <div class="row">
            <div class="col-18 mb-3">
                <!-- ページタイトルを記入 -->
                <h3>パスワード再発行</h3>
            </div>
            <div class="col-18">
                <!-- ページタイトル右の余白 -->
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container">
        <div th:replace="~{fragments/message-panel :: message-panel}"></div>
        <!-- ここより下にメインコンテンツを記入 -->
        <div class="callout callout-success">
            事前登録のメールアドレスにパスワード再発行用URLを送信しました。
            URLにアクセスし、下記の暗証番号を入力してください。(暗証番号には期限があります)
            <br>
            <h3>暗証番号 : <span id="secret" th:text=${secret}></span></h3>
        </div>
        <!-- ここより上にメインコンテンツを記入 -->
    </div>
</section>

</body>
</html>
