<!DOCTYPE html>
<html th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>パスワードリセット</title>
</head>
<body>
<section class="content-header">
    <div class="container">
        <div class="row">
            <div class="col-18 mb-3">
                <!-- ページタイトルを記入 -->
                <h3>パスワードリセット</h3>
            </div>
            <div class="col-18">
                <!-- ページタイトル右の余白 -->
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container">
        <div th:replace="~{fragments/message-panel :: message-panel}"></div>
        <!-- ここより下にメインコンテンツを記入 -->
        <div class="callout callout-success">
            パスワードが再設定されました。<br>
            ログイン画面に戻って、新しいパスワードでログインしてください。
        </div>
        <a class="btn-button" th:href="@{/login}">ログイン画面に戻る</a>
        <!-- ここより上にメインコンテンツを記入 -->
    </div>
</section>
</body>
</html>