<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="include-upload" th:remove="tag">

    <form autocomplete="off" enctype="multipart/form-data" method="post" th:action th:object="${uploadForm}">

        <!-- EnterキーによるPOSTを無効化 -->
        <input disabled style="display:none" type="submit"/>

        <!-- 隠しフィールド -->
        <input th:field="*{jobName}" type="hidden"/>

        <!-- Input -->
        <div>
            <div class="row">
                <div class="col-12">
                    <div th:replace="~{fragments/label :: m('uploadFileUuid', 'インポートファイル *')}"></div>
                    <div th:replace="~{fragments/file :: m('uploadFile', 'uploadFileUuid', 'uploadFileManaged', '', 'uploadFile', '')}"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div th:replace="~{fragments/label :: m('fileType', 'ファイル形式 *')}"></div>
                    <select class="form-control" th:errorclass="is-invalid" th:field="*{fileType}">
                        <option label="CSV(カンマ区切り, ダブルクォーテーション括り)" value="CSV"/>
                        <option label="TSV(タブ区切り)" value="TSV"/>
                    </select>
                    <span class="invalid-feedback whitespace-nowrap" th:errors="*{fileType}" th:id="fileType-error"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <!-- ラベル -->
                    <div th:replace="~{fragments/label :: m('encoding', '文字コード *')}"></div>
                    <!-- 入力 -->
                    <select class="form-control" th:errorclass="is-invalid" th:field="*{encoding}">
                        <option label="UTF-8" value="UTF-8"/>
                        <option label="SJIS" value="MS932"/>
                    </select>
                    <span class="invalid-feedback whitespace-nowrap" th:errors="*{encoding}" th:id="fileType-error"></span>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-36">
                    <a class="btn btn-button" th:href="@{${referer}}">キャンセル</a>
                    <button class="btn btn-button" name="confirm" type="submit" value="confirm">アップロード</button>
                </div>
            </div>
        </div>
    </form>

</div>
</body>
</html>

