<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="include-datatables" th:remove="tag">

    <!-- DataTables 本体 -->
    <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>

    <!-- Extention Buttons -->
    <script th:src="@{/plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/plugins/datatables-buttons/js/buttons.colVis.min.js}"></script>
    <!-- <script th:src="@{/plugins/datatables-buttons/js/buttons.html5.min.js}"></script> -->
    <script th:src="@{/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>

    <!-- fiexed Hader -->
    <!-- <script th:src="@{/plugins/datatables-fixedheader/js/dataTables.fixedHeader.min.js}"></script> -->
    <!-- <script th:src="@{/plugins/datatables-fixedheader/js/fixedHeader.bootstrap4.min.js}"></script> -->

    <!-- ColReorder -->
    <script th:src="@{/plugins/datatables-colreorder/js/dataTables.colReorder.min.js}"></script>
    <script th:src="@{/plugins/datatables-colreorder/js/colReorder.bootstrap4.min.js}"></script>

    <!-- fiexed Column -->
    <script th:src="@{/plugins/datatables-fixedcolumns/js/dataTables.fixedColumns.min.js}"></script>
    <script th:src="@{/plugins/datatables-fixedcolumns/js/fixedColumns.bootstrap4.min.js}"></script>

    <!-- Select -->
    <!-- <script th:src="@{/plugins/datatables-select/js/dataTables.select.min.js}"></script> -->
    <!-- <script th:src="@{/plugins/datatables-select/js/select.bootstrap4.min.js}"></script> -->

    <!-- Checkboxes-->
    <script th:src="@{/plugins/jquery-datatables-checkboxes/js/dataTables.checkboxes.min.js}"></script>

    <script th:src="@{/app/js/datatables-default.js}"></script>

</div>
</body>
</html>
