<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>入力フィールドの部品(select-multi)</title>
</head>
<body>

<th:block th:fragment="m(field_id, label, value, placeholder, items)">

    <!--/* 入力 */-->
    <th:block th:if="${fieldState.__${field_id}____input}">
        <select class="form-control select2" th:errorclass="is-invalid" th:field="*{__${field_id}__}"
                th:placeholder="${placeholder}" th:disabled="${fieldState.__${field_id}____disabled}" multiple="true">
            <option th:each="item : ${__${items}__}"
                    th:text="${item.value}"
                    th:value="${item.key}"></option>
        </select>
        <span class="invalid-feedback whitespace-nowrap" th:errors="*{__${field_id}__}" th:id="__${field_id}__-error"></span>
    </th:block>

</th:block>
</body>
</html>