<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>入力フィールドの部品(view-checkbox)</title>
</head>
<body>

<th:block th:fragment="m(field_id, label, value, placeholder, items)">
    <!--/* 参照用 */-->

    <th:block th:if="${fieldState.__${field_id}____view}">
        <div class="form-control form-control__view">
            <th:block th:each="val, stat : ${__${value}__}">
                [[${__${items}__[__${val}__]}]]<th:block th:if="${!stat.last}">, </th:block>
            </th:block>
        </div>
    </th:block>

</th:block>
</body>
</html>