<!DOCTYPE html>
<html th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>マイアカウント</title>
</head>
<body>
<section class="content-header">
    <div class="container">
        <div class="row">
            <div class="col-18 mb-3">
                <!-- ページタイトルを記入 -->
                <h4>マイアカウント</h4>
            </div>
            <div class="col-18">
                <!-- ページタイトル右の余白 -->
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container">
        <div th:replace="~{fragments/message-panel :: message-panel}"></div>
        <!-- ここより下にメインコンテンツを記入 -->
        <div class="row">
            <div class="col-5 text-center">
                <img height="100" th:src="@{/account/image}" width="100"/>
            </div>
            <div class="col-31">
                <table th:object="${account}">
                    <tr>
                        <th>ユーザ名</th>
                        <td th:text="*{username}"></td>
                    </tr>
                    <tr>
                        <th>氏名(名)</th>
                        <td th:text="*{firstName}"></td>
                    </tr>
                    <tr>
                        <th>氏名(性)</th>
                        <td th:text="*{lastName}"></td>
                    </tr>
                    <tr>
                        <th>E-Mail</th>
                        <td th:text="*{email}"></td>
                    </tr>
                    <tr>
                        <th>URL</th>
                        <td th:text="*{url}"></td>
                    </tr>
                    <tr>
                        <th>プロフィール</th>
                        <td th:text="*{profile}"></td>
                    </tr>
                </table>
            </div>
        </div>

        <br>
        <div class="row form-group">
            <a class="btn-button" th:href="@{/}">ホーム</a>
            <a class="btn-button ml-2" id="changePassword" th:href="@{/password?form}">パスワード変更</a>
            <a class="btn-button ml-2" id="changeEmail" th:href="@{/emailchange?form}">メールアドレス変更</a>
        </div>

        <!-- ここより上にメインコンテンツを記入 -->
    </div>
</section>
<script>

</script>
</body>
</html>
