<!DOCTYPE html>
<html th:replace="~{layout/template :: layout(~{::title},~{::body})}" xmlns:th="http://www.thymeleaf.org">-->
<head>
    <!-- ページタイトルを記入 -->
    <title>Home</title>
</head>
<body>

<!--<section class="content-header">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-18 mb-3">-->
<!--                &lt;!&ndash; ページタイトルを記入 &ndash;&gt;-->
<!--                <h4>ドキュメント</h4>-->
<!--            </div>-->
<!--            <div class="col-18">-->
<!--                &lt;!&ndash; ページタイトル右の余白 &ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<section class="content">
    <div class="container">
        <!-- ここより下にメインコンテンツを記入 -->

        <div class="row pt-5">
            <div class="col-36 border">
                <br>
                <br>
                <p class="text-center">トップ画面に表示するコンテンツの配置予定</p>
                <br>
            </div>
        </div>
        <br>
        <br>

        <div class="row">
            <div class="col-17">
                <h4>お知らせ</h4>
                <hr>
                <ul>
                    <li>xxxxxx</li>
                    <li>xxxxxx</li>
                    <li>xxxxxx</li>
                </ul>
            </div>
            <div class="col-17 offset-1">
                <h4>新着情報</h4>
                <hr>
                <ul>
                    <li>xxxxxx</li>
                    <li>xxxxxx</li>
                    <li>xxxxxx</li>
                </ul>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-36 border">
                <br>
                <br>
                <p class="text-center">なにかコンテンツがあれば</p>
                <br>
            </div>
        </div>

        <!-- ここより上にメインコンテンツを記入 -->
    </div>
</section>

</body>
</html>
