<!DOCTYPE html>
<html th:replace="~{layout/template :: layout(~{::title},~{::body})}" xmlns:th="http://www.thymeleaf.org">-->
<head>
    <!-- ページタイトルを記入 -->
    <title>ホーム</title>
</head>
<body>

<!--<section class="content-header">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-18 mb-3">-->
<!--                &lt;!&ndash; ページタイトルを記入 &ndash;&gt;-->
<!--                <h4>ドキュメント</h4>-->
<!--            </div>-->
<!--            <div class="col-18">-->
<!--                &lt;!&ndash; ページタイトル右の余白 &ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<section class="content">
    <div class="container">
        <!-- ここより下にメインコンテンツを記入 -->

<!--        <div class="row pt-5">-->
<!--            <div class="col-35 border">-->
<!--                <br>-->
<!--                <br>-->
<!--                <p class="text-center">トップ画面に表示するコンテンツの配置予定</p>-->
<!--                <br>-->
<!--            </div>-->
<!--        </div>-->
        <br>
        <br>
            <div class="row">
                <div class="col-17 border card-header">
                    <h4>お知らせ</h4>
                    <hr>
                    <ul th:each="val : ${variableList}">
                        <li>
                            <a th:href="${'sales/news/'+val.id}" th:text="${val.value1}"></a>
                            <div th:text="${#temporals.format(val.lastModifiedDate, 'yyyy/MM/dd')}"></div>
                            <div th:text="${val.value2}"></div>
                        </li>

                    </ul>
                </div>
                <div class="col-17 offset-1">
                    <div class="row border card-header">
                        <div class="col-15">
                            <h5>キーワードを入力</h5>
                        </div>
                        <div class="col-15">
                           <input type="text" class="form-control">
                        </div>
                        <div class="col-6">
                            <a class="btn btn-button py-2" href="***"> 検索</a>
                        </div>
                    </div>
                    <div class="card-header border mt-2">
                        <h4>最近見た文書一覧</h4>
                        <hr>
                        <ul>
                            <li> YYYY/MM/DD <a href="sales/document/1/latest"> 件名1(タイトル)</a> [サービス区分/文書区分]
                        </ul>
                        <ul>
                            <li> YYYY/MM/DD <a href="sales/document/2/latest"> 件名2(タイトル)</a> [サービス区分/文書区分]
                        </ul>
                        <ul>
                            <li> YYYY/MM/DD <a href="***"> 件名(タイトル)</a> [サービス区分/文書区分]
                        </ul>
                        <ul>
                            <li> YYYY/MM/DD <a href="***"> 件名(タイトル)</a> [サービス区分/文書区分]
                        </ul>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-17 card-header border">
                    <h4>アクセスランキング</h4>
                    <hr>
                    <ul>
                        <li> YYYY/MM/DD <a href="sales/document/1/latest"> 件名1(タイトル)</a> [サービス区分/文書区分]
                    </ul>
                    <ul>
                        <li> YYYY/MM/DD <a href="sales/document/2/latest"> 件名2(タイトル)</a> [サービス区分/文書区分]
                    </ul>
                    <ul>
                        <li> YYYY/MM/DD <a href="***"> 件名(タイトル)</a> [サービス区分/文書区分]
                    </ul>
                    <ul>
                        <li> YYYY/MM/DD <a href="***"> 件名(タイトル)</a> [サービス区分/文書区分]
                    </ul>
                </div>
                <div class="col-17 offset-1 card-header border">
                    <h4>新着情報（新規登録／更新文書一覧）</h4>
                    <hr>
                    <ul>
                        <li> YYYY/MM/DD <a href="sales/document/1/latest"> 件名1(タイトル)</a> [サービス区分/文書区分]
                    </ul>
                    <ul>
                        <li> YYYY/MM/DD <a href="sales/document/2/latest"> 件名2(タイトル)</a> [サービス区分/文書区分]
                    </ul>
                    <ul>
                        <li> YYYY/MM/DD <a href="***"> 件名(タイトル)</a> [サービス区分/文書区分]
                    </ul>
                    <ul>
                        <li> YYYY/MM/DD <a href="***"> 件名(タイトル)</a> [サービス区分/文書区分]
                    </ul>
                    <ul>
                        <li> YYYY/MM/DD <a href="***"> 件名(タイトル)</a> [サービス区分/文書区分]
                    </ul>
                    <ul>
                        <li> YYYY/MM/DD <a href="***"> 件名(タイトル)</a> [サービス区分/文書区分]
                    </ul>
                    <ul>
                        <li> YYYY/MM/DD <a href="***"> 件名(タイトル)</a> [サービス区分/文書区分]
                    </ul>
                    <ul>
                        <li> YYYY/MM/DD <a href="***"> 件名(タイトル)</a> [サービス区分/文書区分]
                    </ul>
                    <ul>
                        <li> YYYY/MM/DD <a href="***"> 件名(タイトル)</a> [サービス区分/文書区分]
                    </ul>
                    <ul>
                        <li> YYYY/MM/DD <a href="***"> 件名(タイトル)</a> [サービス区分/文書区分]
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-36 border">
                <br>
                <br>
                <p class="text-center">なにかコンテンツがあれば</p>
                <br>
            </div>
        </div>

        <!-- ここより上にメインコンテンツを記入 -->
    </div>
</section>
<br>
</body>
</html>
