<style>
    #eFooter {
        display: none;
    }
</style>

<table id="docCategoryDialog" class="table-sm table-striped">
    <thead>
    <tr class="filter">
        <th data-filter="disable"></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr class="title">
        <th class="text-center">操作</th>
        <th class="text-center">ID</th>
        <th class="text-center">区分１</th>
        <th class="text-center">区分２</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script>

</script>