<style>
    #eFooter {
        display: none;
    }
</style>

<table id="docServiceDialog" class="table-sm table-striped">
    <thead>
    <tr class="filter">
        <th data-filter="disable"></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr class="title">
        <th class="text-center">操作</th>
        <th class="text-center">ID</th>
        <th class="text-center">事業領域</th>
        <th class="text-center">サービス種別</th>
        <th class="text-center">サービス</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script>

</script>