<!DOCTYPE html>
<html th:replace="~{layout/template :: layout(~{::title},~{::body})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- ページタイトルを記入 -->
    <title>ドキュメント</title>
</head>
<body>

<section class="content-header">
    <div class="container"> <!-- -fluidを外すと横幅が狭くなる-->
        <div class="row">
            <div class="col-18 mb-3">
                <!-- ページタイトルを記入 -->
                <h4>ドキュメント</h4>
            </div>
            <div class="col-18 text-right">
                <!-- ページタイトル右の余白 -->
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container">
        <div th:replace="~{fragments/message-panel :: message-panel}"></div>
        <!-- ここより下にメインコンテンツを記入 -->
        <form autocomplete="off" enctype="multipart/form-data" method="post" th:action
              th:object="${documentForm}" th:with="id= ${document != null} ? ${document.id} : 0">

            <!-- EnterキーによるPOSTを無効化 -->
            <input disabled style="display:none" type="submit"/>

            <!-- 隠しフィールド -->
            <input th:field="*{version}" type="hidden"/>

            <!-- button -->
            <div th:replace="~{fragments/button-area :: m(${id})}"></div>
            <div th:replace="~{fragments/field::checkbox-inline('saveRevision', '', 'document.saveRevision', '', '@CL_SAVE_REVISION.asMap()')}"></div>
            <hr>

            <!-- Input -->
            <div class="row">
                <div class="col-24">
                    <div th:replace="~{fragments/field::input('title', '文書タイトル', 'document.title', '')}"></div>
                </div>
                <div class="col-11 offset-1 p-0">
                    <div th:replace="~{fragments/label::m('status', 'ステータス')}"></div>
                    <div th:replace="~{fragments/view-select::m('status', '', 'document.status', '', '@CL_STATUS.asMap()')}"></div>
                    <!--                    <div th:replace="~{fragments/label::m('status', 'ステータス')}"></div>-->
                    <!--                    <div class="form-control form-control__view" th:if="${fieldState.status__view}">-->
                    <!--                        [[${document != null} ? ${@CL_STATUS.asMap()[document.status]}]]-->
                    <!--                    </div>-->
                </div>
                <!-- 行区切り -->
                <div class="col-24">
                    <div th:replace="~{fragments/field::select2('docCategory', '文書区分', 'document.docCategory', '', '@CL_DOC_CATEGORY.asMap()')}"></div>
                    <div th:replace="~{fragments/field::select2('docService', 'サービス', 'document.docService', '', '@CL_DOC_SERVICE.asMap()')}"></div>
                </div>
                <div class="col-12"></div>
                <!-- 行区切り -->
                <div class="col-6">
                    <div th:replace="~{fragments/field::radio('customerPublic', '顧客公開', 'document.customerPublic', '', '@CL_CUSTOMER_PUBLIC.asMap()')}"></div>
                </div>
                <div class="col-24">
                    <div th:replace="~{fragments/field::checkbox('useStage', '活用シーン', 'document.useStage', '', '@CL_DOC_STAGE.asMap()')}"></div>
                </div>
                <!-- 行区切り -->
            </div>
            <!-- ファイル設定エリア -->
            <div class="row mt-3">
                <div class="col-36">
                    <table class="table-sm" id="filesArea">
                        <thead>
                        <tr>
                            <td class="row">
                                <div class="col-6">文書種類</div>
                                <div class="col-14">ファイル</div>
                                <div class="col-14">ファイル(PDF)</div>
                                <div class="col-2"></div>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- 編集 -->
                        <tr th:each="item, status : *{files}">
                            <td class="row">
                                <div class="col-6">
                                    <select class="form-control" th:errorclass="is-invalid"
                                            th:field="*{files[__${status.index}__].type}">
                                        <option label="--Select--" value=""/>
                                        <option th:each="item : ${@CL_DOC_TYPE.asMap()}"
                                                th:text="${item.value}"
                                                th:value="${item.key}"></option>
                                    </select>
                                    <span class="invalid-feedback whitespace-nowrap"
                                          th:errors="*{files[__${status.index}__].type}"
                                          th:id="files.type-error"></span>
                                </div>
                                <div class="col-14">
                                    <input class="form-control form-control-file file-managed"
                                           data-file-type="document_file"
                                           th:id="|files[__${status.index}__].file|"
                                           th:style="*{files[__${status.index}__].fileUuid} ? 'display:none' : 'display:block'"
                                           type="file"/>
                                    <span class="invalid-feedback whitespace-nowrap"
                                          th:errors="*{files[__${status.index}__].fileUuid}"
                                          th:id="file.fileUuid-error"></span>

                                    <th:block th:if="*{files[__${status.index}__].fileManaged}">
                                        <div class="input-group" th:id="|files[${status.index}].file__attached-block|">
                                          <span>
                                            <i class="far fa-file ml-2"></i>
                                            <a class="link-attached"
                                               target="_blank"
                                               th:href="${op.getDownloadUrl(uuid)}"
                                               th:with="uuid = *{files[__${status.index}__].fileUuid}">[[*{files[__${status.index}__].fileManaged.originalFilename}]]</a>
                                                  <i class="far fa-trash-alt" style="color: brown;"
                                                     th:onclick="|file_detach('files[${status.index}].file')|"></i>
                                            <input th:field="*{files[__${status.index}__].fileUuid}" type="hidden"/>
                                          </span>
                                        </div>
                                    </th:block>
                                </div>
                                <div class="col-14">
                                    <input class="form-control form-control-file file-managed"
                                           data-file-type="document_file"
                                           th:id="|files[__${status.index}__].pdf|"
                                           th:style="*{files[__${status.index}__].pdfUuid} ? 'display:none' : 'display:block'"
                                           type="file"/>
                                    <span class="invalid-feedback whitespace-nowrap"
                                          th:errors="*{files[__${status.index}__].pdfUuid}"
                                          th:id="file.pdfUuid-error"></span>

                                    <th:block th:if="*{files[__${status.index}__].pdfManaged}">
                                        <div class="input-group" th:id="|files[${status.index}].pdf__attached-block|">
                                          <span>
                                            <i class="far fa-file ml-2"></i>
                                            <a class="link-attached"
                                               target="_blank"
                                               th:href="${op.getDownloadUrl(uuid)}"
                                               th:with="uuid = *{files[__${status.index}__].pdfUuid}">[[*{files[__${status.index}__].pdfManaged.originalFilename}]]</a>
                                                  <i class="far fa-trash-alt" style="color: brown;"
                                                     th:onclick="|file_detach('files[${status.index}].pdf')|"></i>
                                            <input th:field="*{files[__${status.index}__].pdfUuid}" type="hidden"/>
                                          </span>
                                        </div>
                                    </th:block>
                                </div>
                                <div class="col-2 text-center">
                                    <button class="btn-button" onclick="lineDelete(this)" type="button">削除</button>
                                </div>
                            </td>
                        </tr>

                        <!-- 参照用 -->
                        <th:block th:if="${fieldState.files_type__view}">
                            <tr th:each="item, status : ${document.files}">
                                <td class="row">
                                    <div class="col-6">
                                        <div th:replace="~{fragments/view-select::m('files_type', '', 'item.type', '', '@CL_DOC_TYPE.asMap()')}"></div>
                                    </div>
                                    <div class="col-14">
                                        <div th:replace="~{fragments/view-file-document::m('files_file', '', 'item.fileManaged', '')}"></div>
                                    </div>
                                    <div class="col-14">
                                        <div th:replace="~{fragments/view-file-document::m('files_pdf', '', 'item.pdfManaged', '')}"></div>
                                    </div>
                                </td>
                            </tr>

                        </th:block>
                        </tbody>
                    </table>

                    <div class="row" th:if="${buttonState.addItem__view}">
                        <div class="col-36">
                            <button class="btn-button" formaction="#addLinebutton" id="addLinebutton"
                                    name="addlineitem">行追加
                            </button>
                        </div>
                    </div>

                </div>
            </div>

            <!-- 本文 -->
            <div class="row">
                <div class="col-36">
                    <div th:replace="~{fragments/field::summernote('body', '本文', 'document.body', '', '8')}"></div>
                    <div th:replace="~{fragments/field::input('reasonForChange', '変更理由', 'document.reasonForChange', '')}"></div>
                </div>
            </div>

            <hr class="mt-5">
            <!-- 行区切り -->
            <div class="row">
                <div class="col-12">
                    <div th:replace="~{fragments/field::input('chargeDepartment', '管理部門', 'document.chargeDepartment', '')}"></div>
                </div>
                <div class="col-10 offset-1">
                    <div th:replace="~{fragments/field::input('chargePerson', '管理担当者', 'document.chargePerson', '')}"></div>
                </div>
            </div>
            <!-- 行区切り -->
            <div class="row">
                <div class="col-14">
                    <div th:replace="~{fragments/field::radio('publicScope', '公開区分', 'document.publicScope', '', '@CL_DOC_PUBLIC_SCOPE.asMap()')}"></div>
                </div>
            </div>

            <!-- 予備 -->
<!--            <div class="row">-->
<!--                <div class="col-36">-->
<!--                    <div th:replace="~{fragments/field::input('intendedReader', '想定読者', 'document.intendedReader', '')}"></div>-->
<!--                    <div th:replace="~{fragments/field::textarea('summary', '概要', 'document.summary', '', '3')}"></div>-->
<!--                    <div th:replace="~{fragments/field::input('documentNumber', '管理番号', 'document.documentNumber', '')}"></div>-->
<!--                    <div th:replace="~{fragments/field::date('enactmentDate', '制定日', 'document.enactmentDate', '')}"></div>-->
<!--                    <div th:replace="~{fragments/field::date('lastRevisedDate', '最終改定日', 'document.lastRevisedDate', '')}"></div>-->
<!--                    <div th:replace="~{fragments/field::date('implementationDate', '実施日', 'document.implementationDate', '')}"></div>-->
<!--                    <div th:replace="~{fragments/field::input('enactmentDepartment', '制定箇所', 'document.enactmentDepartment', '')}"></div>-->
<!--                </div>-->
<!--            </div>-->


            <!-- button -->
            <br>

        </form>
        <!-- ここより上にメインコンテンツを記入 -->
    </div>
</section>


<link rel="stylesheet" th:href="@{/plugins/summernote/summernote-bs4.min.css}">
<script th:src="@{/plugins/summernote/summernote-bs4.min.js}"></script>
<script th:src="@{/plugins/summernote/lang/summernote-ja-JP.min.js}"></script>

<script>
  function lineDelete(e) {
    let table = e.closest('table')
<!--    if (table.rows.length == 2) {-->
<!--      alert('全ての行は削除できません。');-->
<!--      return false;-->
<!--    }-->
    let tr = e.closest('tr').remove();
  }

$(document).ready(function() {

      $.when(
          $('.summernote').summernote({
                height: 105,
<!--                fontNames: ["Meiryo"],-->
<!--                fontNamesIgnoreCheck: ["Meiryo"],-->
                lang: "ja-JP",
              })
<!--              .summernote("fontName", "Meiryo")-->

      ).done(function() {
            $('.note-image-input')[0].name = 'summernote-files';
      });
});



</script>

</body>
</html>
