<!DOCTYPE html>
<html th:replace="~{layout/template :: layout(~{::title},~{::body})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- ページタイトルを記入 -->
    <title>Document History</title>
</head>
<body>
<div th:replace="~{fragments/include-datatables :: include-datatables}"></div>
<section class="content-header">
    <div class="container">
        <div class="row">
            <div class="col-18 mb-3">
                <!-- ページタイトルを記入 -->
                <h4>Document History</h4>
            </div>
            <div class="col-18 text-right nav-tabs-wrapper">
                <!-- ページタイトル右の余白 -->
                <ul class="nav nav-tabs justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/sales/document/' + ${id}}">ドキュメント詳細</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">変更履歴</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container"><!-- -fluidを外すと横幅が狭くなる-->
        <div th:replace="~{fragments/message-panel :: message-panel}"></div>
        <!-- ここより下にメインコンテンツを記入 -->

        <div class="row mb-3">
            <div class="form-check-inline">
                <input id="showAll" name="showAll" type="checkbox">
                <label for="showAll">全件表示</label>
            </div>
        </div>

        <table class="table-sm table-striped nowrap table-bordered table-hover" id="history">
            <thead>
            <tr class="filter">
                <th class="text-center"></th><!-- Ver -->
                <th></th><!-- 変更理由 -->
                <th class="text-center"></th><!-- 最終更新者 -->
                <th class="text-right"></th><!-- 最終更新日 -->

            </tr>
            <tr class="title">
                <th class="text-center">連番</th>
                <th class="text-center">変更理由</th>
                <th class="text-center">更新者</th>
                <th class="text-center">更新日</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>

        <form id="bulk-operation-form" method="post" th:action></form>

        <!-- ここより上にメインコンテンツを記入 -->
    </div>
</section>

<!-- Page script -->
<script>

var pagechange = false;

  $(document)
    .ready(
      function () {

        // 項目単位フィルタ用のInputフィールドを追加する。
        // TODO 開始列番号を指定
        var startcolnum = 0;
        $('tr.filter th').each(function () {
          var idx = $(this).index();
          if (startcolnum <= idx && $(this).data("filter") != 'disable') {
            $(this).html('<input type="text" id="col_filter_' + idx + '" data-column="' + idx +
              '" class="dataTables_column_filter form-control" />');
          }
        });

        var table = $('#history').DataTable({

          'ajax': {
            'url': 'json/[[${id}]]?history=false',
          },

          'serverSide': false,

          //スクロールバー表示
          // scrollX: true,

          // 一覧に表示する項目とJSONの項目にマッピング
          // Version、変更理由、最終更新者、最終更新日
          'columns': [
            {
              data: 'verLabel',
              className : 'text-center',
              width: '40px',
            },
            {
              data: 'reasonForChange',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'lastModifiedByLabel',
              render: $.fn.dataTable.render.text(),
              className:'text-center',
              width: '80px',
            },
            {
              data: 'lastModifiedDate',
              render: $.fn.dataTable.render.text(),
              className:'text-center',
              width: '80px',
            },
          ],

          // 初期ソート
          'order': [
            [0, 'desc']
          ],

          'buttons': ['colvis', 'stateClear'],

          // データロード後処理
          'initComplete': function (settings, json) {
            // グローバルフィルターのEnterキーでサーバに送信
            fnGlobalFilterOnReturn(table);

          },
        });

        // 項目単位フィルタの追加
        // addFieldFilter(table) // 通常版
        addFieldFilter2(table) // (列の並び順対応版)

        // ページネーション後に画面トップに戻る
        table.on('page.dt', function () {
          pagechange = true;
        });

        table.on( 'draw.dt', function (e, s) {
          if (pagechange) {
            pagechange = false;
            $('html, body').animate({
              scrollTop: 0
            }, 0);
          }
        } );

        // 全件表示チェックボックス押下時の操作
         $('#showAll').change().on('change', function (e, s) {
            table.ajax.url(encodeURI('json/[[${id}]]?history=' + e.target.checked)).load();
         });

      });

</script>


</body>
</html>
