<!DOCTYPE html>
<html th:replace="~{/layout/template :: layout(~{::title},~{::body})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- ページタイトルを記入 -->
    <title>Document List</title>
</head>
<body>
<div th:replace="~{/fragments/include-datatables :: include-datatables}"></div>
<section class="content-header">
    <div class="container-fluid">
        <div class="row px-5">
            <div class="col-18 mb-3">
                <!-- ページタイトルを記入 -->
                <h4>Document List</h4>
            </div>
            <div class="col-18 text-right">
                <!-- ページタイトル右の余白 -->
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid"><!-- -fluidを外すと横幅が狭くなる-->
        <div th:replace="~{/fragments/message-panel :: message-panel}"></div>
        <!-- ここより下にメインコンテンツを記入 -->

        <div class="row mb-3">
<!--            <div class="form-check-inline">-->
<!--                <input id="draft" name="draft" type="checkbox" checked="checked">-->
<!--                <label for="draft">下書きを含む</label>-->
<!--            </div>-->
            <button class="btn btn-button" id="reverse">並べ替え</button>
        </div>

        <table id="list" class="table-sm table-striped nowrap">
            <thead>
            <tr class="filter">
<!--                <th class="text-center px-2" data-filter="disable"></th>&lt;!&ndash; 隠しフィールド &ndash;&gt;-->
                <th data-filter="disable"></th><!-- # -->
                <th data-filter="disable"></th><!-- 操作 -->
                <th data-filter="disable"><!-- ステータス -->
                    <select id="col_filter_3" data-column="3" class="dataTables_column_filter form-control">
                        <option value="">&nbsp;</option>
                        <th:block th:each="obj : ${@CL_STATUS.asMap()}">
                            <option th:value="${obj.key}">[[${obj.value}]]</option>
                        </th:block>
                    </select>
                </th>
                <th></th><!-- 区分1 -->
                <th></th><!-- 区分2 -->
                <th></th><!-- 区分3 -->
                <th></th><!-- サービス1 -->
                <th></th><!-- サービス2 -->
                <th></th><!-- サービス3 -->
                <th></th><!-- タイトル -->
                <th data-filter="disable"><!-- 活用シーン -->
                    <select id="col_filter_11" data-column="11" class="dataTables_column_filter form-control">
                        <option value="">&nbsp;</option>
                        <th:block th:each="obj : ${@CL_DOC_STAGE.asMap()}">
                            <option th:value="${obj.key}">[[${obj.value}]]</option>
                        </th:block>
                    </select>
                </th>
<!--                <th></th>&lt;!&ndash; 想定読者 &ndash;&gt;-->
<!--                <th></th>&lt;!&ndash; 概要 &ndash;&gt;-->
                <th></th><!-- 文書種類 -->
                <th></th><!-- ファイル -->
<!--                <th></th>&lt;!&ndash; 管理番号 &ndash;&gt;-->
                <th></th><!-- 作成部門 -->
                <th></th><!-- 作成担当者 -->
                <th></th><!-- 作成責任者 -->
                <th></th><!-- 発行部門 -->
                <th></th><!-- 発行責任者 -->
<!--                <th></th>&lt;!&ndash; 制定日 &ndash;&gt;-->
<!--                <th></th>&lt;!&ndash; 最終改定日 &ndash;&gt;-->
<!--                <th></th>&lt;!&ndash; 実施日 &ndash;&gt;-->
<!--                <th></th>&lt;!&ndash; 制定箇所 &ndash;&gt;-->
                <th></th><!-- 最終更新者 -->
                <th></th><!-- 最終更新日 -->
                <th></th><!-- 公開区分 -->
                <th></th><!-- 変更理由 -->
                <th></th><!-- 顧客公開 -->
            </tr>
            <tr class="title">
<!--                <th class="text-center px-0"></th>-->
                <th class="text-center">#</th>
                <th class="text-center">操作</th>
                <th class="text-center">ステータス</th>
                <th class="text-center">区分1</th>
                <th class="text-center">区分2</th>
                <th class="text-center">区分3</th>
                <th class="text-center">サービス1</th>
                <th class="text-center">サービス2</th>
                <th class="text-center">サービス3</th>
                <th class="text-center">タイトル</th>
                <th class="text-center">活用シーン</th>
<!--                <th class="text-center">想定読者</th>-->
<!--                <th class="text-center">概要</th>-->
                <th class="text-center">文書種類</th>
                <th class="text-center">ファイル</th>
<!--                <th class="text-center">管理番号</th>-->
                <th class="text-center">作成部門</th>
                <th class="text-center">作成担当者</th>
                <th class="text-center">作成責任者</th>
                <th class="text-center">発行部門</th>
                <th class="text-center">発行責任者</th>
<!--                <th class="text-center">制定日</th>-->
<!--                <th class="text-center">最終改定日</th>-->
<!--                <th class="text-center">実施日</th>-->
<!--                <th class="text-center">制定箇所</th>-->
                <th class="text-center">公開区分</th>
                <th class="text-center">顧客公開</th>
                <th class="text-center">変更理由</th>
                <th class="text-center">最終更新日時</th>
                <th class="text-center">最終更新者</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>

        <form id="bulk-operation-form" method="post" th:action></form>

        <!-- ここより上にメインコンテンツを記入 -->
    </div>
</section>

<!-- Page script -->
<script>

var pagechange = false;

  $(document)
    .ready(
      function () {

        // 項目単位フィルタ用のInputフィールドを追加する。
        // TODO 開始列番号を指定
        var startcolnum = 0;
        $('tr.filter th').each(function () {
          var idx = $(this).index();
          if (startcolnum <= idx && $(this).data("filter") != 'disable') {
            $(this).html('<input type="text" id="col_filter_' + idx + '" data-column="' + idx +
              '" class="dataTables_column_filter form-control" />');
          }
        });

        var table = $('#list').DataTable({

          'ajax': {
            'url': 'list/json',
            'data': flatten
          },

          scrollX: true,

          // fixedColumns: {
          //   leftColumns: 3
          // },

          // select: 'multi',

          checkboxes: false,

          // 一覧に表示する項目とJSONの項目にマッピング
          'columns': [
<!--            {-->
<!--              data: 'id',-->
<!--              className: 'text-center',-->
<!--              orderable: false,-->
<!--              searchable: false,-->
<!--              checkboxes: {-->
<!--               'selectRow': false-->
<!--              }-->
<!--            },-->
            {
              data: 'id',
              searchable: true,
            },
            {
              data: 'operations',
              orderable: false,
              searchable: false,
            },
            {
              data: 'statusLabel',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'docCategoryVariable.value1',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'docCategoryVariable.value2',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'docCategoryVariable.value3',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'docServiceVariable.value1',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'docServiceVariable.value2',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'docServiceVariable.value3',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'title',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'useStageLabel',
              render: $.fn.dataTable.render.text(),
            },
<!--            {-->
<!--              data: 'intendedReader',-->
<!--              render: $.fn.dataTable.render.text(),-->
<!--            },-->
<!--            {-->
<!--              data: 'summary',-->
<!--              render: $.fn.dataTable.render.text(),-->
<!--            },-->
            {
              data: 'fileTypeLabel',
            },
            {
              data: 'filesLabel',
            },
<!--            {-->
<!--              data: 'documentNumber',-->
<!--              render: $.fn.dataTable.render.text(),-->
<!--            },-->
            {
              data: 'departmentForCreation',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'responsiblePersonForCreation',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'chargePersonForCreation',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'departmentForPublish',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'responsiblePersonForPublish',
              render: $.fn.dataTable.render.text(),
            },
<!--            {-->
<!--              data: 'enactmentDate',-->
<!--              render: $.fn.dataTable.render.text(),-->
<!--            },-->
<!--            {-->
<!--              data: 'lastRevisedDate',-->
<!--              render: $.fn.dataTable.render.text(),-->
<!--            },-->
<!--            {-->
<!--              data: 'implementationDate',-->
<!--              render: $.fn.dataTable.render.text(),-->
<!--            },-->
<!--            {-->
<!--              data: 'enactmentDepartment',-->
<!--              render: $.fn.dataTable.render.text(),-->
<!--            },-->
            {
              data: 'publicScopeLabel',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'customerPublicLabel',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'reasonForChange',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'lastModifiedDate',
              className: 'text-center',
            },
            {
              data: 'lastModifiedBy',
              render: $.fn.dataTable.render.text(),
            },
          ],

          // 初期ソート
          'order': [
            [0, 'asc']
          ],

          // ボタンの表示
          // 'buttons': ['bulkdelete', 'bulkinvalid', 'bulkvalid',' colvis', 'stateClear', 'csvdownload', 'tsvdownload', 'exceldownload', 'upload', 'createnew'],
          'buttons': ['colvis', 'stateClear', 'csvdownload', 'tsvdownload', 'upload', 'createnew'],

          // データロード後処理
          'initComplete': function (settings, json) {
            // グローバルフィルターのEnterキーでサーバに送信
            fnGlobalFilterOnReturn(table);

          },
        });

        // 項目単位フィルタの追加
        // addFieldFilter(table) // 通常版
        addFieldFilter2(table) // (列の並び順対応版)

        // ページネーション後に画面トップに戻る
        table.on('page.dt', function () {
          pagechange = true;
        });

        table.on( 'draw.dt', function (e, s) {
          if (pagechange) {
            pagechange = false;
            $('html, body').animate({
              scrollTop: 0
            }, 0);
          }
        } );

        // 下書きチェックボックス押下時の操作
<!--        $('#draft').change().on('change', function (e, s) {-->
<!--          localStorage.dataTables_Draft = e.target.checked;-->
<!--          table.draw();-->
<!--          // fnColumns(table);-->
<!--        });-->

        // 画面表示時の下書きチェックボックスの復元
<!--        if (localStorage.dataTables_Draft == 'false') {-->
<!--          $('#draft')[0].checked = false;-->
<!--          table.draw();-->
<!--        } else if (localStorage.dataTables_Draft != 'false' && $('#draft')[0].checked == false) {-->
<!--          $('#draft')[0].checked = true;-->
<!--          table.draw();-->
<!--        }-->

        // 列の並び替えと表示／非表示を操作するテスト
        $('#reverse').click( function (e) {
            table.columns( [10, 11] ).visible( false );
            table.colReorder.order( [0, 1, 2, 3, 5, 6, 7, 8, 4, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21], true );
        });

      });

  function myflatten(params, settings) {
    params = flatten(params, settings);
    if ($('#draft')[0] == undefined) {
        params.draft = true;
    } else {
        params.draft = $('#draft')[0].checked
    }
    return params;
  }

</script>


</body>
</html>
