<!DOCTYPE html>
<html th:replace="~{layout/template :: layout(~{::title},~{::body})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- ページタイトルを記入 -->
    <title>ドキュメント一覧</title>
</head>
<body>
<div th:replace="~{layout/libraries :: datatables}"></div>
<div th:replace="~{layout/libraries :: multiple-select}"></div>

<section class="content-header">
    <div class="container-fluid">
        <div class="row px-5">
            <div class="col-18 mb-3">
                <!-- ページタイトルを記入 -->
                <h4>ドキュメント一覧</h4>
            </div>
            <div class="col-18 text-right">
                <!-- ページタイトル右の余白 -->
            </div>
        </div>
    </div>
</section>

<style>
div#list_filter {
    display: none;
}
</style>

<section class="content">
    <div class="container-fluid"><!-- -fluidを外すと横幅が狭くなる-->
        <div th:replace="~{fragments/message-panel :: message-panel}"></div>
        <!-- ここより下にメインコンテンツを記入 -->

        <table id="list" class="table-sm table-striped nowrap">
            <thead>
            <tr class="filter">
<!--                <th class="text-center px-2" data-filter="disable"></th>&lt;!&ndash; 隠しフィールド &ndash;&gt;-->
                <th data-filter="disable"></th><!-- # -->
                <th></th><!-- 管理番号 -->
                <th></th><!-- タイトル -->
                <th></th><!-- 版数 -->
                <th></th><!-- 区分1 -->
                <th></th><!-- 区分2 -->
<!--                <th></th>&lt;!&ndash; 区分3 &ndash;&gt;-->
                <th></th><!-- 事業 -->
                <th></th><!-- サービス種別 -->
                <th></th><!-- サービス -->
                <th></th><!-- 発行日 -->
                <th></th><!-- 改訂日 -->
                <th></th><!-- 廃止日 -->
                <th></th><!-- 周知日 -->
                <th></th><!-- 作成担当者 -->
                <th></th><!-- 発行担当者 -->
                <th></th><!-- 発行責任者 -->
                <th></th><!-- 作成部門 -->
                <th></th><!-- 発行部門 -->
                <th></th><!-- 備考 -->
                <th></th><!-- 変更理由 -->
                <th></th><!-- ファイル -->
                <th></th><!-- ファイルメモ -->
                <th data-filter="disable"><!-- 活用シーン -->
                    <select id="col_filter_22" data-column="22" class="dataTables_column_filter form-control multiple-select" multiple="multiple" data-container=".content">
<!--                        <option value="">&nbsp;</option>-->
                        <th:block th:each="obj : ${@CL_DOC_STAGE.asMap()}">
                            <option th:value="${obj.key}">[[${obj.value}]]</option>
                        </th:block>
                    </select>
                </th>
                <th data-filter="disable">
                    <select id="col_filter_23" data-column="23" class="dataTables_column_filter form-control multiple-select" multiple="multiple" data-container=".content">
<!--                        <option value="">&nbsp;</option>-->
                        <th:block th:each="obj : ${@CL_DOC_PUBLIC_SCOPE.asMap()}">
                            <option th:value="${obj.key}">[[${obj.value}]]</option>
                        </th:block>
                    </select>
                </th><!-- 公開区分 -->
                <th data-filter="disable"><!-- 顧客公開 -->
                    <select id="col_filter_24" data-column="24" class="dataTables_column_filter form-control multiple-select" multiple="multiple" data-container=".content">
<!--                        <option value="">&nbsp;</option>-->
                        <th:block th:each="obj : ${@CL_CUSTOMER_PUBLIC.asMap()}">
                            <option th:value="${obj.key}">[[${obj.value}]]</option>
                        </th:block>
                    </select>
                </th>
                <th data-filter="disable">
                    <select id="col_filter_25" data-column="25" class="dataTables_column_filter form-control multiple-select" multiple="multiple" data-container=".content">
                        <th:block th:each="obj : ${@CL_ACCOUNT_FULLNAME.asMap()}">
                            <option th:value="${obj.key}">[[${obj.value}]]</option>
                        </th:block>
                    </select>
                </th><!-- 最終更新者 -->
                <th></th><!-- 最終更新日 -->
            </tr>
            <tr class="title">
<!--                <th class="text-center px-0"></th>-->
                <th class="text-center">#</th>
                <th class="text-center">文書番号</th>
                <th class="text-center">タイトル</th>
                <th class="text-center">版数</th>
                <th class="text-center">区分1</th>
                <th class="text-center">区分2</th>
                <th class="text-center">事業</th>
                <th class="text-center">サービス種別</th>
                <th class="text-center">サービス</th>
                <th class="text-center">発行日</th>
                <th class="text-center">改訂日</th>
                <th class="text-center">廃止日</th>
                <th class="text-center">周知日</th>
                <th class="text-center">作成担当者</th>
                <th class="text-center">発行担当者</th>
                <th class="text-center">発行責任者</th>
                <th class="text-center">作成部門</th>
                <th class="text-center">発行部門</th>
                <th class="text-center">備考</th>
                <th class="text-center">変更理由</th>
                <th class="text-center">ファイル</th>
                <th class="text-center">ファイルメモ</th>
                <th class="text-center">活用シーン</th>
                <th class="text-center">公開区分</th>
                <th class="text-center">顧客公開</th>
                <th class="text-center">最終更新者</th>
                <th class="text-center">最終更新日時</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>

        <form id="bulk-operation-form" method="post" th:action></form>

        <!-- ここより上にメインコンテンツを記入 -->
    </div>
</section>

<!-- Page script -->
<script>

var pagechange = false;

// 全項目
var all_column = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26];

// 改訂日
var visible_false_01 = [21, 18, 24, 9, 12, 13, 16, 14, 15, 17, 23];
var column_order_01 = [0, 10, 1, 2, 20, 21, 19, 18, 3, 24, 4, 5, 6, 7, 8, 22, 9, 11, 12, 13, 16, 14, 15, 17, 23, 25, 26];

// 文書種類
var visible_false_02 = [21, 18, 24, 9, 12, 13, 16, 14, 15, 17, 23];
var column_order_02 = [0, 4, 5, 1, 2, 20, 21, 19, 18, 3, 24, 6, 7, 8, 22, 9, 10, 11, 12, 13, 16, 14, 15, 17, 23, 25, 26];

// サービス区分
var visible_false_03 = [21, 18, 24, 9, 12, 13, 16, 14, 15, 17, 23];
var column_order_03 = [0, 6, 7, 8, 1, 2, 20, 21, 19, 18, 3, 24, 4, 5, 22, 9, 10, 11, 12, 13, 16, 14, 15, 17, 23, 25, 26];

// 活用シーン
var visible_false_04 = [21, 18, 24, 9, 12, 13, 16, 14, 15, 17, 23];
var column_order_04 = [0, 22, 1, 2, 20, 21, 19, 18, 3, 24, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 16, 14, 15, 17, 23, 25, 26];

// 発行部門
var visible_false_05 = [21, 18, 24, 9, 12, 23, 25, 26];
var column_order_05 = [0, 17, 15, 14, 1, 2, 20, 21, 19, 18, 3, 24, 4, 5, 6, 7, 8, 22, 9, 10, 11, 12, 13, 16, 23, 25, 26];

/**
 * 改訂日ボタン
 */
$.fn.dataTable.ext.buttons.colOrder01 = {
    text: '<i class="fas fa-table"></i> 改訂日',
    titleAttr: '改訂日',
    action: function (e, dt, node, config) {
        reset(dt);
        dt.columns( visible_false_01 ).visible( false );
        dt.colReorder.order( column_order_01, true );
    }
};

/**
 * 文書種類ボタン
 */
$.fn.dataTable.ext.buttons.colOrder02 = {
    text: '<i class="fas fa-table"></i> 文書種類',
    titleAttr: '文書種類',
    action: function (e, dt, node, config) {
        reset(dt);
        dt.columns( visible_false_02 ).visible( false );
        dt.colReorder.order( column_order_02, true );
    }
};

/**
 * サービス区分ボタン
 */
$.fn.dataTable.ext.buttons.colOrder03 = {
    text: '<i class="fas fa-table"></i> 文書区分',
    titleAttr: '文書区分',
    action: function (e, dt, node, config) {
        reset(dt);
        dt.columns( visible_false_03 ).visible( false );
        dt.colReorder.order( column_order_03, true );
    }
};

/**
 * 活用シーンボタン
 */
$.fn.dataTable.ext.buttons.colOrder04 = {
    text: '<i class="fas fa-table"></i> 活用シーン',
    titleAttr: '活用シーン',
    action: function (e, dt, node, config) {
        reset(dt);
        dt.columns( visible_false_04 ).visible( false );
        dt.colReorder.order( column_order_04, true );
    }
};

/**
 * 発行部門ボタン
 */
$.fn.dataTable.ext.buttons.colOrder05 = {
    text: '<i class="fas fa-table"></i> 発行部門',
    titleAttr: '発行部門',
    action: function (e, dt, node, config) {
        reset(dt);
        dt.columns( visible_false_05 ).visible( false );
        dt.colReorder.order( column_order_05, true );
    }
};

/**
 * 全項目ボタン
 */
$.fn.dataTable.ext.buttons.colOrder06 = {
    text: '<i class="fas fa-table"></i> 全項目',
    titleAttr: '全項目',
    action: function (e, dt, node, config) {
        reset(dt);
    }
};

/**
 * 全項目リセット
 */
function reset(table) {
    table.columns( all_column ).visible( true );
    table.colReorder.order( all_column, true );
}

  $(document)
    .ready(
      function () {

        // 項目単位フィルタ用のInputフィールドを追加する。
        // TODO 開始列番号を指定
        var startcolnum = 0;
        $('tr.filter th').each(function () {
          var idx = $(this).index();
          if (startcolnum <= idx && $(this).data("filter") != 'disable') {
            $(this).html('<input type="text" id="col_filter_' + idx + '" data-column="' + idx +
              '" class="dataTables_column_filter form-control" />');
          }
        });

        var table = $('#list').DataTable({

          'ajax': {
            'url': 'searchlist/json',
            'data': flatten
          },

          scrollX: true,

          // fixedColumns: {
          //   leftColumns: 3
          // },

          // select: 'multi',

          checkboxes: false,

          // 一覧に表示する項目とJSONの項目にマッピング
          'columns': [
<!--            {-->
<!--              data: 'id',-->
<!--              className: 'text-center',-->
<!--              orderable: false,-->
<!--              searchable: false,-->
<!--              checkboxes: {-->
<!--               'selectRow': false-->
<!--              }-->
<!--            },-->
            {
              data: 'id',
              searchable: true,
            },
            {
              data: 'documentNumber',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'title',
<!--              render: $.fn.dataTable.render.text(),-->
            },
            {
              data: 'versionNumber',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'docCategoryVariable1.value1',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'docCategoryVariable2.value1',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'docServiceVariable1.value1',
              defaultContent: "",
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'docServiceVariable2.value1',
              defaultContent: "",
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'docServiceVariable3.value1',
              defaultContent: "",
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'publishedDate',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'lastRevisedDate',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'invalidationDate',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'announceDate',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'chargePersonForCreation',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'chargePersonForPublish',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'responsiblePersonForPublish',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'departmentForCreation',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'departmentForPublish',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'remark',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'reasonForChange',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'filesLabel',
            },
            {
              data: 'fileMemo',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'useStageLabel',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'publicScopeLabel',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'customerPublicLabel',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'lastModifiedByLabel',
              render: $.fn.dataTable.render.text(),
            },
            {
              data: 'lastModifiedDateStr',
              className: 'text-center',
            },
          ],

          // 初期ソート
          'order': [
            [0, 'asc']
          ],

          // 初期列非表示
          "columnDefs": [
            { "visible": false, "targets": visible_false_01 }
          ],

          // 初期列並び順
          colReorder: {
            order: column_order_01,
            originalIndexes: true
          },

          // ボタンの表示
          'buttons': ['stateClear', 'colvis', 'colOrder01', 'colOrder02', 'colOrder03', 'colOrder04', 'colOrder05', 'colOrder06', 'csvdownload', 'tsvdownload'],

          // データロード後処理
          'initComplete': function (settings, json) {
            // グローバルフィルターのEnterキーでサーバに送信
            fnGlobalFilterOnReturn(table);

          },
        });

        // 項目単位フィルタの追加
        // addFieldFilter(table) // 通常版
        addFieldFilter2(table) // (列の並び順対応版)

        // ページネーション後に画面トップに戻る
        table.on('page.dt', function () {
          pagechange = true;
        });

        table.on( 'draw.dt', function (e, s) {
          if (pagechange) {
            pagechange = false;
            $('html, body').animate({
              scrollTop: 0
            }, 0);
          }
        } );


        $(".multiple-select").multipleSelect(
            {
                filter: true,
                formatSelectAll () {
                return '全選択'
                },
            }
        );

      });


  function myflatten(params, settings) {
    params = flatten(params, settings);
    if ($('#draft')[0] == undefined) {
        params.draft = true;
    } else {
        params.draft = $('#draft')[0].checked
    }
    return params;
  }

</script>


</body>
</html>
